@using odevWeb.Models.Siniflar
@model List<AnaSayfa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/web-web-sena/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <div class="center">
        <div class="avatar">
            <img src="~/web-web-sena/booo..jpg">
        </div>
        <div class="content">
            @foreach (var x in Model)
            {
                <h1>@x.isim</h1>
                <h2>@x.unvan</h2>
                <h3>@x.iletisim</h3>

            }

        </div>
        <div class="social">
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>


    </div>

</body>
</html>
